@import "normalize.css";

html, body {
  padding: 0;
  background-color: #202028;
}
h1, h2, h3, h4, h5, h6, a {
  margin: 0;
}

/* Logo */
@keyframes logo-outer-intro {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes logo-inner-intro {
  from {
    opacity: 0;
    transform: translateX(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.header {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--heading {
  width: 90%;
  transform: rotate(-15deg);
}
.header--heading-link {
  display: block;
}

#logo {
  overflow: visible;
}

#logo--l-outer,
#logo--e-outer,
#logo--d-outer,
#logo--o-outer,
#logo--r-outer,
#logo--a-outer {
  animation-name: logo-outer-intro;
  opacity: 0;
  transform: translateY(-100%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

#logo--l-inner,
#logo--e-inner-top,
#logo--e-inner-bottom,
#logo--d-inner,
#logo--o-inner,
#logo--r-inner,
#logo--a-inner {
  animation-name: logo-inner-intro;
  opacity: 0;
  transform: translateX(15px);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

#logo--l-outer { animation-delay: 0.0s; }
#logo--e-outer { animation-delay: 0.1s; }
#logo--d-outer { animation-delay: 0.2s; }
#logo--o-outer { animation-delay: 0.3s; }
#logo--r-outer { animation-delay: 0.4s; }
#logo--a-outer { animation-delay: 0.5s; }

#logo--l-inner        { animation-delay: 0.8s; }
#logo--e-inner-top    { animation-delay: 0.9s; }
#logo--e-inner-bottom { animation-delay: 0.9s; }
#logo--d-inner        { animation-delay: 1.0s; }
#logo--o-inner        { animation-delay: 1.1s; }
#logo--r-inner        { animation-delay: 1.2s; }
#logo--a-inner        { animation-delay: 1.3s; }

