@keyframes logo-outer-intro {
  from {
    opacity: 0;
    transform: translateY(-20vh);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes logo-inner-intro {
  from {
    opacity: 0;
    transform: translateX(5vh);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

#logo {
  overflow: visible;
}

#logo--l-outer,
#logo--e-outer,
#logo--d-outer,
#logo--o-outer,
#logo--r-outer,
#logo--a-outer {
  animation-name: logo-outer-intro;
  opacity: 0;
  transform: translateY(-100%);
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

#logo--l-inner,
#logo--e-inner-top,
#logo--e-inner-bottom,
#logo--d-inner,
#logo--o-inner,
#logo--r-inner,
#logo--a-inner {
  animation-name: logo-inner-intro;
  opacity: 0;
  transform: translateX(15px);
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

#logo--l-outer { animation-delay: 0.0s; }
#logo--e-outer { animation-delay: 0.1s; }
#logo--d-outer { animation-delay: 0.2s; }
#logo--o-outer { animation-delay: 0.3s; }
#logo--r-outer { animation-delay: 0.4s; }
#logo--a-outer { animation-delay: 0.5s; }

#logo--l-inner        { animation-delay: 0.8s; }
#logo--e-inner-top    { animation-delay: 0.9s; }
#logo--e-inner-bottom { animation-delay: 0.9s; }
#logo--d-inner        { animation-delay: 1.0s; }
#logo--o-inner        { animation-delay: 1.1s; }
#logo--r-inner        { animation-delay: 1.2s; }
#logo--a-inner        { animation-delay: 1.3s; }


.header {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--viewport {
  width: 100%;
  transform: rotate(-15deg);
}
.header--heading-link {
  display: block;
  width: 100%;
}
.header--border {
  width: 200%;
  height: 60px;
}

