<div class="header--viewport">
  {{x-dots}}
  <h1 class="header--heading">
    <a href="/" class="header--heading-link">
      {{inline-svg "ledora" class="logo"}}
    </a>
  </h1>
  {{x-dots}}
</div>
